/* ==========================
   GOOGLE FONT
========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ==========================
   reset panel
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{

    background:#0B1120;
    color:#F8FAFC;

}

img{
    max-width:100%;
    display:block;
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
    color:white;
}

section{

    padding:100px 10%;

}

h2{

    font-size:40px;
    color:#ffa9d1;
    margin-bottom:40px;

}

/* ==========================
   navigation panel
========================== */

header{

    position:fixed;
    width:100%;
    top:0;
    left:0;

    background:rgba(11,17,32,.95);

    backdrop-filter:blur(10px);

    z-index:999;

    border-bottom:1px solid rgba(255,255,255,.05);

}

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 10%;

}

.logo h2{

    color:#ffa9d1;
    margin:0;

}

.logo p{

    font-size:13px;

    color:#94A3B8;

}

nav ul{

    display:flex;

    gap:30px;

}

nav ul li a{

    transition:.3s;

    font-weight:500;

}

nav ul li a:hover{

    color:#ffa9d1;

}

/* ==========================
   home panel
========================== */

#home{

    min-height:100vh;

    display:flex;

    justify-content:space-between;

    text-align: justify;

    align-items:center;

    gap:80px;

}

.home-content{

    flex:1;

}

.home-content h1{

    font-size:60px;

    margin-bottom:15px;

}

.home-content h3{

    color:#ffa9d1;

    margin-bottom:25px;

}

.home-content p{

    color:#CBD5E1;

    line-height:1.8;

    margin-bottom:20px;

}

.btn{

    display:inline-block;

    margin-top:20px;

    background:#ad6084;

    padding:15px 35px;

    border-radius:8px;

    transition:.3s;

    font-weight:bold;

}

.btn:hover{

    transform:translateY(-5px);

    background:#38BDF8;

    box-shadow:0 0 20px rgba(56,189,248,.5);

}

.home-image{

    flex:1;

    display:flex;

    justify-content:center;

}

.home-image img{

    width:380px;

    border-radius:50%;

    border:5px solid #ffa9d1;

    box-shadow:0 0 40px rgba(56,189,248,.4);

}

/* ==========================
   about panel
========================== */

.about-content{

    background:#111827;

    padding:40px;

    border-radius:15px;

    line-height:1.9;

    color:#CBD5E1;
    
    text-align: justify;

}

/* ==========================
   skill panel
========================== */

.skills-container{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:30px;

}

.skill-box{

    background:#111827;

    padding:30px;

    border-radius:15px;

    transition:.3s;

}

.skill-box:hover{

    transform:translateY(-8px);

    box-shadow:0 0 25px rgba(56,189,248,.15);

}

.skill-box h3{

    color:#ffa9d1;

    margin-bottom:20px;

}

.skill-box ul li{

    margin:12px 0;

    color:#CBD5E1;

}

/* ==========================
   projects panel
========================== */

.project-card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:40px;

    background:#111827;

    margin-bottom:40px;

    padding:30px;

    border-radius:15px;

    transition:.3s;

}

.project-card:hover{

    transform:translateY(-8px);

}

.project-info{

    flex:1;

}

.project-info h3{

    color:#ffa9d1;

    margin-bottom:20px;

}

.project-info p{

    color:#CBD5E1;

    line-height:1.8;

}

.project-image{

    flex:1;

}

.project-image img{

    border-radius:10px;

}

/* ==========================
   certificate panel
========================== */

.certificate-container{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    gap:30px;

}

.certificate-card{

    background:#111827;

    padding:20px;

    border-radius:15px;

    text-align:center;

    transition:.3s;

}

.certificate-card:hover{

    transform:scale(1.03);

}

.certificate-card img{

    border-radius:10px;

    margin-bottom:20px;

}

.certificate-card h3{

    color:#ffa9d1;

    margin-bottom:10px;

}

.certificate-card p{

    color:#CBD5E1;

}

/* ==========================
   esports panel
========================== */

.esports-content{

    display:flex;

    gap:50px;

    align-items:flex-start;

}

.esports-images{

    flex:1;

}

.esports-images img{

    border-radius:12px;

    margin-bottom:20px;

}

.esports-info{

    flex:1;

}

.esports-info h3{

    color:#ffa9d1;

    margin-bottom:15px;

}

.esports-info p{

    color:#CBD5E1;

    line-height:1.8;

    margin-bottom:25px;

}

.esports-info ul li{

    margin:10px 0;

}

.esports-skills{
    margin-top:40px;
}

.skill{
    margin-bottom:20px;
}

.skill span{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

.progress{
    width:100%;
    height:12px;
    background:#23304d;
    border-radius:20px;
    overflow:hidden;
}

.progress-bar{
    height:100%;
    background:#ffa9d1;
    color:lightblue;
    text-align:right;
    padding-right:10px;
    font-size:10px;
    line-height:12px;
    border-radius:20px;
}

.aim{
    width:95%;
}

.gamesense{
    width:85%;
}

.leadership{
    width:95%;
}

.communication{
    width:85%;
}

.teamwork{
    width:90%;
}

/* ==========================
   resume panel
========================== */

.resume-content{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

    gap:40px;

}

.education,
.achievements{

    background:#111827;

    padding:30px;

    border-radius:15px;

}

.education h3,
.achievements h3{

    color:#ffa9d1;

    margin-bottom:20px;

}

.education p{

    line-height:1.8;

    color:#CBD5E1;

}

.achievements ul li{

    margin:12px 0;

}

/* ==========================
   contact panel
========================== */

.contact-content{

    background:#111827;

    padding:35px;

    border-radius:15px;

}

.contact-content p{

    margin:20px 0;

    font-size:18px;

}

.contact-content a{

    color:#ffa9d1;

}

.contact-content a:hover{

    text-decoration:underline;

}

/* ==========================
   footer panel
========================== */

footer{

    background:#111827;

    text-align:center;

    padding:25px;

    color:#94A3B8;

}

/* ==========================
   scrollbar panel 
========================== */

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:#0B1120;

}

::-webkit-scrollbar-thumb{

    background:#ffa9d1;

    border-radius:10px;

}

/* ==========================
   responsive panel
========================== */

@media(max-width:900px){

    nav{

        flex-direction:column;

        gap:20px;

    }

    nav ul{

        flex-wrap:wrap;

        justify-content:center;

    }

    #home{

        flex-direction:column-reverse;

        text-align:center;

    }

    .project-card{

        flex-direction:column;

    }

    .esports-content{

        flex-direction:column;

    }

    .home-content h1{

        font-size:42px;

    }

    section{

        padding:80px 8%;

    }

}